.DS_Store
client/node_modules/
client/dist/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/test/unit/coverage
client/test/e2e/reports
client/selenium-debug.log

server/node_modules/
server/dist/
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/test/unit/coverage
server/test/e2e/reports
server/selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

client/.idea
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln

server/.idea
server/*.suo
server/*.ntvs*
server/*.njsproj
server/*.sln
