// 基础样式
$color-blue: #109BDC; // 基础蓝
$color-dark-blue: #0E8AC6; // 深蓝
$color-hover: #f6bb42; // hover 黄
$color-white: #fff; // 白色
$color-border: rgba(238, 241, 146, 0.3); // 边框色
$default-border: #d4d4d4; // 默认边框色
